* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0 auto;
        cursor: default;

        font-family: system-ui;
    }

}


nav {
    padding: 1em;

    h1 {
        margin: 0;
    }
}

main {

    padding: 1em;
    max-width: 500px;
    margin: 0 auto;
    max-height: 100vh;

    overflow: hidden;

    .winBoard {
        padding: 1em;
        border: thin solid;
        margin-bottom: 10px;

        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;
        gap: 2vw;

        border-radius: 5px;

        .playerX, .playerO, .active {

            h2, h1 {
                margin: 0;
                line-height: 1.2em;
            }


        }

        #active-player {
            border-bottom: thin solid;
            padding-bottom: 5px;
        }

    }

    .gameBoard {
        /* padding: 1em; */
        /* border: thin solid; */

        /* max-height: 50vh; */
        /* height: 100vh; */



        max-width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1vw;
        align-items: center;

        margin-bottom: 5vh;


        .square {
            padding: 1em;
            border: thin solid;
            height: 130px;

            /* width: 130px; */

            /* height: 100%; */
            /* width: 100%; */

            font-size: 4vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* width: 100%; */
            /* max-height: 250px; */
            /* max-width: 250px; */

            border-radius: 5px;
        }



        .square:hover {
            background-color: rgba(240, 248, 255, 0.438);
            cursor: pointer;
        }

        .square.hover-x:hover {
            background-color: lightcoral;
            color: lightcoral;
            cursor: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/svgs/solid/x.svg'), pointer; /* Custom X cursor */
        }
        
        .square.hover-o:hover {
            background-color: lightblue;
            color: lightblue;
            cursor: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/svgs/solid/o.svg'), pointer !; /* Custom O cursor */
        }
        

    }


    .controlBoard {
        /* padding: 1em; */
        /* border: thin solid; */
        margin-top: 10px;

        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        display: none;

        .controls {
            display: flex;
            
            justify-content: space-around;
            gap: 3vw;

            i {
                font-size: 3vh;
            }

            i:hover {
                cursor: pointer;
                opacity: 50%;
            }

            .button {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                align-items: center;
            }

            p {
                margin: 0;
            }

        }

    }


}



/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto; /* Make it scrollable if content is too large */

    .modal-content {
        background-color: rgba(0, 0, 0);
        padding: 20px;
        border-radius: 10px;
        max-width: 550px;
        margin: 10% auto;

        color: white;
        overflow: auto;

        h2 {
            margin: 0;
            margin-bottom: 10px;
        }

        span {
            color: #aaa;
            float: right;
            font-size: 5vh;
            font-weight: bold;
            position: relative;
            /* right: 2vw; */
            top: -2vh;
            cursor: pointer;
        }

        span:hover {
            color: white;
        }
    }
}
    
    #newGameButton {
        padding: 1em;
        background-color: #2a552b;
        color: white;
        /* color: rgba(0, 0, 0, 0.9); */
        border: none;
        cursor: pointer;
        border-radius: 5px;

        font-size: large;

        font-weight: bolder;
    }
    
    #newGameButton:hover {
        background-color: #45a049;
    }
    


footer {
    padding: 0 1em;
    text-align: center;
    font-size: small;
    max-width: 550px;
    margin: 0 auto;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    z-index: -1;
}

a:link, a:visited {
    color: var(--text);
    text-decoration: none;
    border-bottom: thin solid;
    font-weight: bold;
}

/* iPad Pro */
@media screen and (max-width: 1400px) {

    main {
        max-width: 900px;

        .gameBoard {
            .square {
                height: 250px;
            }
        }

    }

    footer {
        position: relative;
        top: 20vh;

        display: none;
    }

}



@media screen and (max-width: 800px) {

    main {
        max-width: 800px;

        .winBoard {
            border: none;
            padding: 0;
            
            h2 {
                font-size: medium;
            }
        }

        .gameBoard {
            margin-top: 5vh;
            
            .square {
                height: 200px;
                
            }
        }

        .controlBoard {

            .controls {

                i {
                    font-size: 5vh;
                }

                p {
                    display: none;
                }
            }
        }

    }
    
}

@media screen and (max-width: 300px) {

    main {
        max-width: 500px;


        .gameBoard {
            .square {
                height: 130px;
            }
        }

    }

}


@media screen and (max-height: 750px) {
    main {
        max-width: 600px;

        .gameBoard {
            
            .square {
                height: 150px;
            }
        }

        .controlBoard {
            /* max-width: 220px; */
        }
    }
}






@media screen and (prefers-color-scheme: light) {

    body {
        background-color: rgba(255, 255, 255, 0.4);
    }

    /* main {

        .controlBoard {
            background-color: rgb(255, 255, 255);;
        }
    } */
    
}



@media screen and (prefers-color-scheme: dark) {

    body {
        background-color: rgba(0, 0, 0);;
    }

    /* main {

        .controlBoard {
            background-color: rgba(0, 0, 0);;
        }
    } */
    
}

body.active-x, .controlBoard.active-x {
    background-color: rgba(240, 128, 128, 0.459);
}

body.active-o, .controlBoard.active-o {
    background-color: rgba(173, 216, 230, 0.486);
}